<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css"/>
</head>
<footer>
    <div class="footer-container">
        <div class="links-container footer-div">
            <ul style="list-style: none;">
                <li class="linkspacing">
                    <p class="contact">Contact</p>
                </li>
                <li class="linkspacing">
                    <a class="link" href="https://www.linkedin.com/in/marcus-askem-b4a4b6258/">Linkedin</a>
                </li>
                <li class="linkspacing">
                    <a class="link" href="https://sopranoaskem1.wixsite.com/marcus1403">Portfolio</a>
                </li>
                <li class="linkspacing">
                    <a class="link" href="https://github.com/kushkiGG">GitHub</a>
                </li>
                <li class="linkspacing">
                    <a class="link" href="mailto:sopranoaskem1@gmail.com">Email</a>
                </li>
            </ul>
        </div>
        <div class="logo-container-footer footer-div">
            <img src="images/logo2.png" alt="logo" width="300px" height="150px"/>
        </div>
    </div>
    <div class="copyright-container">
        <p class="copyright">© 2025 What Have I Watched? Marcus Askem. All Rights Reserved</p>
    </div>
</footer>
</html>
